<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <style>
    html,
    body {
      height: 100vh;
      text-align: center;
    }

    body {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  </style>
  </head>

  <body>
    <div id="app">
      <div class="container">
        <form @submit.prevent="sigin">
          <h1>請先登入</h1>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" v-model="user.email"required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" v-model="user.password"required>
          </div>
          <button type="submit" class="btn btn-primary">登入</button>
        </form>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
      </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
      </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
      </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
    const uuid = 'd52eae5f-b113-4dd1-81cc-46bd383ac57a'; //個人的UUID
    const apiPath = 'https://course-ec-api.hexschool.io/api/';
    new Vue({
      el:'#app',
      data:{
        user:{
          email:'',
          password:''
        },
        token:''
      },
      methods:{
        sigin:function(){
          // console.log(this.user.email);
          const api = `${apiPath}auth/login`;//登入API
          axios.post(api, this.user)
          .then(function(res){
            console.log(res.data);
            const token = res.data.token;//取得後端回傳token
            const expired = res.data.expired;//取得後端回傳cookie期限
            document.cookie = `logintoken=${token}; expires=${new Date(expired*1000)}; path=/`;//將token的值及cookie期限存入cookie
            window.location = '/products.html';
          })
          .catch(function(error){
            console.log(error);
          })
        }
      },
    })
    </script>
  </body>

</html>