<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>
  <div id="app">
    <div class="container">
      <div class="text-right mt-4">
        <button class="btn btn-primary" type="button" @click="openModal('new')">
          建立新的產品
        </button>
      </div>
      <table class="table mt-4">
        <thead>
          <tr>
            <th scope="col">分類</th>
            <th scope="col">產品名稱</th>
            <th scope="col">原價</th>
            <th scope="col">售價</th>
            <th scope="col">是否啟用</th>
            <th scope="col">編輯</th>
          </tr>
        </thead>

        <tbody>
          <tr scope="row" v-for="(item) in products" :key="item.id">
            <td>{{ item.category }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.origin_price }}</td>
            <td>{{ item.price }}</td>
            <td>
              <span v-if="item.enabled" class="text-success">啟用</span>
              <span v-else>未啟用</span>
            </td>
            <td>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-primary btn-sm" @click="openModal('edit',item)">編輯</button>
                <button type="button" class="btn btn-outline-danger btn-sm"
                  @click="openModal('delete',item)">刪除</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
  <div id="productModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content border-0">
        <div class="modal-header bg-dark text-white">
          <h5 id="exampleModalLabel" class="modal-title">
            <span>新增產品</span>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="imageUrl">輸入圖片網址</label>
                <input id="imageUrl" type="text" class="form-control" placeholder="請輸入圖片連結" v-model="tmpproducts.imageUrl">
                {{tmpproducts.imageUrl[1]}}
              </div>
              <img class="img-fluid" alt >
            </div>
            <div class="col-sm-8">
              <div class="form-group">
                <label for="title">標題</label>
                <input id="title" type="text" class="form-control" placeholder="請輸入標題" v-model="tmpproducts.title">
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="category">分類</label>
                  <input id="category" type="text" class="form-control" placeholder="請輸入分類">
                </div>
                <div class="form-group col-md-6">
                  <label for="price">單位</label>
                  <input id="unit" type="unit" class="form-control" placeholder="請輸入單位">
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="origin_price">原價</label>
                  <input id="origin_price" type="number" class="form-control" placeholder="請輸入原價">
                </div>
                <div class="form-group col-md-6">
                  <label for="price">售價</label>
                  <input id="price" type="number" class="form-control" placeholder="請輸入售價">
                </div>
              </div>
              <hr>

              <div class="form-group">
                <label for="description">產品描述</label>
                <textarea id="description" type="text" class="form-control" placeholder="請輸入產品描述">
            </textarea>
              </div>
              <div class="form-group">
                <label for="content">說明內容</label>
                <textarea id="description" type="text" class="form-control" placeholder="請輸入說明內容">
            </textarea>
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input id="is_enabled" class="form-check-input" type="checkbox">
                  <label class="form-check-label" for="is_enabled">是否啟用</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
            取消
          </button>
          <button type="button" class="btn btn-primary" @click="updateproduct">
            確認
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- <div id="delProductModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
     <div class="modal-dialog" role="document">
       <div class="modal-content border-0">
         <div class="modal-header bg-danger text-white">
           <h5 id="exampleModalLabel" class="modal-title">
             <span>刪除產品</span>
           </h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="modal-body">
           是否刪除
           <strong class="text-danger">{{ tmpproducts.title }}</strong> 商品(刪除後將無法恢復)。
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
             取消
           </button>
           <button type="button" class="btn btn-danger" @click="delProduct">
             確認刪除
           </button>
         </div>
       </div>
     </div>
   </div> -->
  </div>

</div>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</body>
<script>
  new Vue({
    el: '#app',
    data: {
      products: [],//存放產品資料
      paginations: {},//存放分頁資訊
      tmpproducts: {
        imageUrl: []
      },//
      apiinfo: {
        uuid: 'd52eae5f-b113-4dd1-81cc-46bd383ac57a',
        path: 'https://course-ec-api.hexschool.io/api/',
        token: ''
      },
      isNew: '',

    },
    methods: {
      getproducts: function () {
        const vm = this;
        const api = `${this.apiinfo.path}${this.apiinfo.uuid}/admin/ec/products`//取得產品API
        console.log(api);
        axios.get(api).then(function (res) {
          console.log(res)
          vm.products = res.data.data;//將後端回傳的所有產品資料存入至自定義的products陣列內
          vm.paginations = res.data.meta.pagination;//將後端回傳的所有分頁資訊資料存入至自定義的paginations物件內
          // if(this.tmpproducts.id){

          // }
        })
          .catch(function (error) {
            console.log(error); // 若出現錯誤則顯示錯誤訊息
          })
      },
      openModal: function (isNew, item) {
        const vm = this;
        switch (isNew) {
          case 'new':
            this.tmpproducts = {//因為後端回傳imgUrl屬性的資料屬性為陣列格式，所以必須將該屬性設定為空陣列
              imageUrl: []
            };
            // this.modal.title = true;//識別是新增還是編輯標題
            $('#productModal').modal('show');
            break;
          case 'edit':
            const api = `${this.apiinfo.path}${this.apiinfo.uuid}/admin/ec/product/${item.id}`;
            // this.modal.title = false;
            axios.get(api).then(function (res) {
              vm.tmpproducts = res.data.data;
              // console.log(vm.tmpproducts)
              $('#productModal').modal('show');
              // PATCH
            })
            break;
          case 'delete':
            $('#delProductModal').modal('show');
            this.tempProduct = Object.assign({}, item);
            break;
          default:
            break;
        }
      }
    },
    created() {
      this.apiinfo.token = document.cookie.replace(/(?:(?:^|.*;\s*)logintoken\s*\=\s*([^;]*).*$)|^.*$/, "$1");
      // console.log('this2',this.apiinfo.token);
      axios.defaults.headers.common['Authorization'] = `Bearer ${this.apiinfo.token}`;
      this.getproducts();
    }

  })


  
</script>
<script>
// var app = new Vue({
//   el: '#app2',
//   data: {
//     text: '小明',
//   }
// })
</script>

</html>